body,
html,
:root {
  height: 100%;
}
.welcome {
  max-width: 1350px;
  margin-inline: auto;
}
.welcome div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome div h1 {
  font-size: 20px;
  font-weight: bold;
}
.button {
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin-inline: auto;
}
.nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
a {
  text-decoration: none;
}
.newsletter {
  max-width: 1300px;
  margin-inline: auto;
  margin-top: 10px;
}
.no {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}
.maincard {
  border: 1px solid black;
  border-radius: 3px;
  height: 450px;
}

.card h1 {
  font-size: 25px;
  padding-bottom: 2px;
  height: 35px;
}
.card img {
  height: 340px;
  width: 100%;
}
.read {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
button {
  cursor: pointer;
}
.details {
  max-width: 1300px;
  margin-inline: auto;
  margin-top: 10px;
}
.detail {
  display: flex;
  column-gap: 10px;
}
.detail img {
  width: 350px;
  height: 350px;
}
.delete {
  background-color: red;
  padding: 2px;
  border-radius: 4px;
}
.del {
  display: flex;
  justify-content: space-between;
}
.add {
  margin-top: 4px;
  margin-bottom: 5px;
}
.add h1 {
  font-weight: bold;
  text-align: center;
}
.add1 {
  padding-bottom: 4px;
  padding-inline: 19px;
}
.form {
  width: 700px;
  margin-inline: auto;

  padding: 2px;
}
.add2 {
  display: flex;
  flex-direction: column;
  margin-block: 3px;
  align-items: start;
}
.add2 input,
textarea {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
}
.submit {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}
textarea {
}
.red{
  color:red;
}